

.login,
.regester,
.notice {
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    margin: 10% 40%;
    width: 20%;
    padding: 10px;
    display: block;
    white-space: pre-line;
}

input {
    width: 80%;
    border-radius: 5px;
    height: 30px;
}

.regester button,
.login button,
.notice button {
    width: 60%;
    border-radius: 5px;
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #383737;
    position: fixed;
    top: 0;
    right: 0;
    width: auto;
    z-index: 1000;
    width: 100%;
}


.icon-button {
    background-color: #000000;
    color: white;
    font-size: 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 10px;
    text-decoration: none;
}
.link {
    background-color: #000000;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
    padding-top: 10px;
    height: 35px;
    width: 90px;
    text-align: center;
    text-decoration: none;
}

.pannel {
    display: block;
    white-space: pre-line;
    border-style: solid;
    /* border-radius: 20px; */
    height: 1000px;
    width: 300px;
}

label {
    text-align: left;
}

.passChecker,
.usernameMessage,
.emailMessage,
.confirmPassMessage {
    display: none;
    color: red;
}

.valid {
    color: green;
}

.error {
    color: red;
}

.message {
    font-weight: bold;
    display: none;
}

.error-message {
    color: red;
}