@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --WhiteBlue: #def0f4;
    --White: #ffffff;
    --WhiteB: #e0eced;
    --Greey: #efefef;
    --GreeyD: #919191;
    --GreeyTransparant: hsla(0, 0%, 21%, 0.531);
    --GreeyDarked: hsla(0, 0%, 81%, 0.294);
    --shadow: 0px 10px 10px hsla(0, 0%, 40%, 0.30);
    --shadowLittle: 0px 10px 10px hsla(0, 0%, 40%, 0.20);
    --textshadow: 0px 5px 5px hsla(0, 0%, 40%, 0.30);
    --border: 2px solid hsla(0, 0%, 54%, 0.318);
    --BlueGreenWhite: #37B7C3;
    --BlueGreen: #088395;
    --BlueDarker: #0a5c68;
    --DarkBlue: #22252f;
    --Black: #242424;
}


html {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--Greey);
    width: 100%;
}

a {
    text-decoration: none;
    /* font-size: 1.5rem; */
    /* font-weight: 400; */
    /* line-height: 24px; */
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* padding: 10px; */
    width: 20%;
    height: 100%;
    position: fixed;
    left: 2.5%;
}

/* .sidebar-right {
    
    padding: 0% 2%;
    box-shadow: 0px 3px 10px hwb(0 0% 80% / 0.32);
    background-color: red;
} */
.categories-line {
    border-top: 1px solid var(--BlueDarker);
    opacity: 0.2;
}

hr {
    border-top: 1px solid var(--BlueDarker);
    opacity: 0.2;
}

.sidebar-right {
    display: flex;
    flex-direction: column;
    right: 2.5%;
    height: auto;
    width: 20%;
    border-radius: 16px;
    background-color: var(--WhiteBlue);
    margin-top: 16px;
    position: fixed;
    box-shadow: 0px 10px 12px hwb(0 0% 80% / 0.22);
    overflow: hidden;

}
.trending p {
    color: var(--BlueGreen);
}

.trending-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90px;
    padding: 0 15px;
    color: rgb(110, 118, 125);
    font-weight: 600;
}

.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    margin-top: 30px;
    justify-content: space-between;
}

.nav-links a {
    display: flex;
    align-items: center;
    /* font-size: 2rem; */
    padding: 8px 25px 8px 8px;
    color: var(--Black);
}

.nav-links a i {
    font-size: 3rem;
    margin-right: 15px;
    margin-left: 15px;
}

/* .main-account a:hover,  */
.nav-links a:hover
    {
    background-color: #41c6d3;
    color: var(--White);
    border-radius: 9999px;
}
.nav-links a.selected{
    background-color: #41c6d3;
    color: var(--White);
    border-radius: 9999px;
}
/* 
.nav-links a:first-child {
    padding: 8px 8px;
} */

/* .nav-links a:first-child i {
    margin: 0px;
} */

/* .ParentContainer{
    
} */
::placeholder {
    color: var(--BlueGreen);
    opacity: 0.4;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--WhiteBlue);
    padding: 10px 20px;
    /* Added padding to prevent edge sticking */
    position: sticky;
    top: 0;
    z-index: 5;
    /* Ensure it stays on top */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle shadow for visual effect */
}

.Logo {
    margin-left: 20px;
    font-size: 18px;
    color: var(--Black);
    font-weight: 900;
}

.Logo span {
    color: var(--BlueGreen);
}

.SignOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.SignOptions .Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    background-color: var(--White);
    color: var(--BlueGreen);
    /* font-weight: 600; */
    gap: 7px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.5s;
}

.Buttons:hover {
    background-color: var(--BlueGreenWhite);
    color: var(--DarkBlue);
    transition: all 0.5s;
}

.search {
    height: 40px;
    width: 30%;
}

.search input {
    background-color: var(--White);
    border-radius: 20px;
    height: 45px;
    width: 100%;
    padding-left: 10px;
    border: none;
    font-size: 1.5rem;
    color: var(--BlueGreen);
    line-height: 20px;
    font-weight: 400;
}


.tweet-button {
    background-color: var(--BlueGreenWhite);
    width: 90%;
    border-radius: 9999px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
    font-weight: 700;
    border: none;
    padding: 5px 5px;
    height: 55px;
    transition-duration: 0.2s;
}

.tweet-button:hover {
    background-color: var(--BlueGreen);

}



.main-account a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px;
    margin-right: 10px;
    text-decoration: none;
    color: #0a5c68;
    /* background-color: var(--White); */
    border-radius: 90px;
}

.account-details {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
    margin-right: 10px;
    font-size: 1.5rem;
    line-height: 20px;
}

.account-name {
    font-weight: 500;
}

.account-handle {
    color: rgb(110, 118, 125);
}

main {
    width: 50%;
    height: 100%;
    margin-left: 25%;
}

.main-flex {
    display: flex;
    width: 100%;
}

.main-feed {
    width: 100%;
    /* border: 1px solid var(--Black); */
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.home-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 400;
    padding: 0 15px;
    position: sticky;
    top: 0;
    background-color: var(--BlueGreen);
}

.textarea {
    /* width: 100%; */
    /* max-height: 150px; */
    background-color: var(--WhiteBlue);
    font-size: 1.5rem;
    border: none;
    color: var(--Grey);
    outline: none;
    border-radius: 50px;
    padding: 2px 31px;
    resize: none;
    cursor: pointer;
}

.new-tweet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 120px; */
    margin-top: 50px;
    padding: 4px 4px;
    background-color: var(--White);
    border-radius: 50px;
    box-shadow: 0px 3px 10px hwb(0 0% 80% / 0.32);

}

.textarea::placeholder {
    position: relative;
    top: 10px;
}

.Hashtag {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 15px;
    font-size: 14px;
}

.Hashtag a {
    background-color: #37b7c3;
    padding: 3px 5px 5px 5px;
    font-size: 12px;
    border-radius: 9px;
    opacity: 0.7;
    text-decoration: none;
}

.Hashtag span {
    color: white;
}

.Hashtag a:nth-child(1) {
    background-color: green;
}

.Hashtag a:nth-child(2) {
    background-color: red;
}

.Hashtag a:nth-child(3) {
    background-color: purple;
}

.Hashtag a:nth-child(4) {
    background-color: orange;
}

.Hashtag a:nth-child(5) {
    background-color: blue;
}

.Hashtag a:nth-child(6) {
    background-color: teal;
}

.new-tweet .tweet-img {
    width: 63px;
    height: 63px;
    background-size: 63px;
    cursor: pointer;

}

.new-tweet-details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: calc(100% - 73px);
    margin-left: 10px;
}

.new-tweet-details {}


.new-tweet-actions {
    display: flex;
    justify-content: right;
    align-items: self-end;
    width: 100%;
    /* height: 60px; */
    margin-top: 10px;
}

.new-tweet-actions ul {
    display: flex;
    list-style: none;
}


.new-tweet-details input {
    /* width: 100%; */
    height: 150px;
    max-height: 150px;
    background-color: var(--WhiteBlue);
    font-size: 2rem;
    border: none;
    color: white;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
}

.new-tweet-actions ul li {
    margin-right: 12px;
    color: #1c88d3;
    cursor: pointer;
}

.new-tweet-actions .tweet-button {
    width: 75px;
    height: 35px;
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
}

.feed-tweet {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    min-height: 100px;
    padding: 12px 16px 0 16px;
    /* border-top: 1px solid var(--Black); */
    background-color: var(--WhiteBlue);
    border-radius: 10px;
    box-shadow: 0px 3px 10px hwb(0 0% 80% / 0.32);
    gap: 12px;
}
.feed-tweet-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 12px;
}

.dropdown i,
.comment {
    color: var(--BlueGreen);
    text-shadow: var(--textshadow);
}

.counters {
    color: var(--DarkBlue);
}

.tweet-img {
    width: 49px;
    height: 50px;
    border-radius: 50%;
    flex-shrink: 0;
    border: 2px solid var(--BlueDarker);
    transition: all .5s;
    padding: 5px 1px 5px;

    /* Prevent image from shrinking */
}
.tweet-img:hover {
    background-color: #088395;
    transition: all .5s;
    transform: scale(1.2);

}
.no-border {
    border: none;
    background-color: transparent !important;
}

.no-border:hover {
    transform: scale(1);
}

.tweeter-name{
    font-weight: 700;
    font-size: 1.2rem;
    cursor: pointer;
    color: var(--BlueGreen);
    line-height: 1.4rem;
}

.tweeter-handle {
    color: rgb(110, 118, 125);
    font-size: 1rem;
    font-weight: 300;
    margin-left: 3px;
}
.tweet-text {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--Black);
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    margin-top: 10px;
}

.tweet-text p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tweet-text.expanded {
    max-height: none;
}

.tweet-text.expanded p {
    -webkit-line-clamp: unset;
    overflow: visible;
}

.see-more {
    color: blue;
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    font-weight: bold;
    align-self: flex-start;
    font-size: 14px;
}

.see-more:hover {
    text-decoration: underline;
}

.tweet-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 15px 0;
    padding-right: 25px;
}

.react,
.comment {
    display: flex;
    gap: 20px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.h1-title {
    display: flex;
    background: var(--BlueGreen);
    color: white;
    cursor: pointer;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
    line-height: 24px;
    padding: 15px 15px;
}



.item-category {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-category span {
    font-size: 1.3rem;
    font-weight: 400;
}


.follow-profile:hover,
.show-more:hover,
.trending-item:hover {
    background-color: #9edfed;
    cursor: pointer;
}

.show-more {
    display: flex;
    align-items: center;
    color: #1c88d3;
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    padding: 15px 15px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}


.follow {
    display: flex;
    flex-direction: column;
    height: 250px;
    max-width: 355px;
    border-radius: 16px;
    background-color: var(--WhiteBlue);
    margin-top: 16px;
}

.follow-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 5px;
    padding: 30px 15px;
}

.follow-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.follow-details a {
    font-size: 1.4rem;
    font-weight: 700;
}

.follow-details a:hover {
    text-decoration: underline;
}

.follow-details span {
    color: rgb(110, 118, 125);
    font-size: 1.4rem;
    font-weight: 400;
}

#follows {
    font-weight: 300;
    font-size: 1.35rem;
    background-color: #1c1e22;
    border-radius: 3px;
    padding: 2px 4px;
}

.follow .tweet-button {
    width: 70px;
    height: 35px;
    margin: 0 0 0 12px;
    font-weight: 600;
    background-color: white;
    color: black;
    border: none;
    font-size: 1.5rem;
}

.follow .show-more {
    padding: 10px 15px;
}

.follow-cont {
    font-display: flex;
    justify-content: space-between;
}

.FILL {
    font-variation-settings: 'FILL' 1;
    color: var(--BlueDarker) !important;
}   

.counters span,
.comment span {
    font-weight: 600;
    font-size: 15px;
    color: var(--BlueDarker);
}

.counters,
.comment {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
}

.react .counters:hover {
    color: var(--BlueGreenWhite) !important;
}

.feet-tweet-detail {
    display: flex;
    flex-direction: column;
    width: calc(100% - 65px);
    flex-grow: 1;
}

.show {
    display: block !important;
}

.row-tweet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Vertically center the items */
    width: 100%;
}

.tweet-details {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
}

.dropdown {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.dropdown .content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--WhiteB);
    border-radius: 4px;

    display: none;
    color: var(--Black);
    z-index: 6;
    font-size: 14px;
    font-weight: 300;
    width: max-content;
    min-width: 120px;
    box-shadow: var(--shadowLittle);
}

.content ul {
    display: block;
    white-space: nowrap;

}

.content li {
    list-style: none;
    padding: 5px 10px;
}
.content li:nth-child(odd) {
    border-bottom: 1px solid var(--BlueDarker);
}

.content li:hover {
    background-color: var(--BlueGreenWhite);
}

@media (max-width: 768px) {
    .search {
        width: 60%;
    }

    .Logo {
        font-size: 14px;
    }

    .Buttons {
        font-size: 1.3rem;
    }
}

.fetchMore {
    margin: 50px;
}

.material-symbols-outlined {
    font-size: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.search-box input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    background: white;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 0 10px;
}

.search-box button {
    cursor: pointer;
    width: 50px;
    height: 40px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 9999px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box button i {
    font-size: 20px;
    color: black;
}
.ProfileImage{
    width: 50px;
    height: 50px;
    background-size: 46px;
    background-repeat: no-repeat;

}

.closed{
    display: none !important;
}
.postContainer{
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--GreeyTransparant);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 10;
    transition: all 1s;
    overflow-y: auto; /* Allow scrolling within popup */

}
.close-post {
    position: absolute;
    top: 8px;
    right: 6px;
    color: var(--BlueDarker);
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    font-size: 40px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.5s;
}
.close-post:hover{
    color: var(--White);
    background-color: var(--BlueDarker);
}
.stop-scrolling {
    overflow: hidden;
}
.logged-out{
    font-size: 16px;
    cursor: pointer;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

}

.new-tweet-details textarea::placeholder {
    position: relative;
    top: 25%;
}


.nav-links span {
    font-size: 1.2rem;
}

.item-category p {
    font-size: 1.3rem;
    color: var(--BlueGreen);
}

.trending-item span {font-size: 0.9rem;}


.sub-main:hover{
    background: var(--BlueDarker);
    color: var(--WhiteB);
}
.sub-main.reverse .switch-buttons span:first-child{
    font-size: 10px;
    opacity: 0.5 !important;

}
.sub-main.reverse .switch-buttons span:last-child{
    font-size: 25px;
    opacity: 1 !important;

}
.main{
    font-size: 25px;
    transition: all 0.5s;
}
.sub{
    font-size: 10px;
    opacity: 0.6 !important;
    transition: all 0.5s;
}

.switch-buttons{
    display: flex;
    flex-direction: column;
}
.switch-icon span{
    font-size: 30px;
    transition: rotate .5s;
    /* vertical-align: middle; */
}
.rotate{
    rotate:180deg;
    transition: rotate .5s;
}
.Profile{
    font-size: 20px;
}

.ProfileCard{
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    font-size:20px;
    gap: 10px;
    opacity: 1;
    animation: opc 2s ;
    transition: all 1s;

}
.display{
    display: flex !important;
}
.Categories{
    display: none;
    flex-direction: column;
    animation: leftx 2s ;
    opacity: 1;
    animation: opc 2s ;
    transition: all 1s;
}
@keyframes opc {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.profileImage{
    width: 100px;
}
.profileName{
    color: var(--BlueDarker);
    font-weight: 600;
    margin-bottom: 15px;
}

.profileStatics{
    display: flex;
    position: relative;
    /* margin: auto; */
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: var(--White);
    border-radius: 10px;
    padding: 20px 10px 10px 10px;
    /* overflow: hidden; */
    margin-bottom: 15px;
}

.profileStatics div .material-symbols-outlined{
    color: var(--BlueDarker);
}
.analytics{
    position: absolute;
    top: -11px;
    left: 27px;
    background: var(--BlueGreenWhite);
    color: var(--White);
    padding: 5px;
    border-radius: 99px;
    font-size: 16px;
    padding: 0px 30px;
    width: fit-content;
}

.postCounts {
    color: var(--BlueDarker);
}