{{define "footer"}}

<div class="footerContainer">
      <div class="footer">
            <div class="footer-logo">
                  <img src="/assets/images/logo.svg" alt="logo">
                  <span>Forum Project Zone01Oujda</span>
            </div>
            <div class="footer-links">
                  <span>Made by:</span>
                  <div class="names">
                        <a href="">mtawil</a>
                        <a href="">melalj</a>
                        <a href="">oelhaouc</a>
                        <a href="">ibentour</a>
                  </div>
            </div>
      </div>
</div>

{{end}}