{{define "header"}}
        <nav>
            <!-- Logo -->
            <div class="Logo">
                <span>Forum</span>Project
            </div>
            <!-- Search Bar -->
            <!-- <div class="search-box">
                <input type="text" id="srch" placeholder="Search..." onkeyup="debounceSearch()">
                <div id="search-results"></div>
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>    -->
            <div class="SignOptions">
                <a href="" class="Buttons">
                    <i class="material-symbols-outlined">login</i>
                    <span>Login / Register</span>
                </a>
                <div class="main-account">
                    <a href="">
                        <div class="ProfileImage tweet-img" style="background-image: url('https://ui-avatars.com/api/?name=samira')">
                    </a>
                </div>
            </div>
        </nav>
{{end}}