{{define "header"}}
<nav>
    <!-- Logo -->
    <span class="menu material-symbols-outlined">
        menu
        </span>
    <div class="Logo">
        <span>Forum</span>Project
    </div>
    <!-- Search Bar -->
    <!-- <div class="search-box">
                <input type="text" id="srch" placeholder="Search..." onkeyup="debounceSearch()">
                <div id="search-results"></div>
                <button type="submit"><i class="fa fa-search"></i></button>
            </div>    -->
    {{if .UserName}}
    <div class="main-account">
        <a href="/profile/{{.UserName}}">
            <div class="ProfileImage tweet-img"
                {{if .PFP}}
                style="background-image: url('https://api.dicebear.com/9.x/personas/svg?seed={{.PFP}}')">
                {{else}}
                style="background-image: url('https://ui-avatars.com/api/?name={{.UserName}}')">
                {{end}}
            </div>
        </a>
    </div>
    {{else}}
    <div class="SignOptions">
        <a href="/login" class="Buttons">
            <i class="material-symbols-outlined">login</i>
            <span>Login / Register</span>
        </a>
    </div>
    {{end}}
</nav>
{{end}}