{{define "left-sidebar"}}

<section class="sidebar-left">
    <div class="nav-links margin-top">
        <a href="/home" class="selected">
            <i class="material-symbols-outlined">home</i>
            <span>Home</span>
        </a>
        <a href="/liked">
            <i class="material-symbols-outlined">favorite</i>
            <span>Liked Posts</span>
        </a>
        <a href="/profile">
            <i class="material-symbols-outlined">person</i>
            <span>Profile</span>
        </a>
        <a href="/trending">
            <i class="material-symbols-outlined">person</i>
            <span>Trending</span>
        </a>
        <a href="/recent">
            <i class="material-symbols-outlined">person</i>
            <span>Recent Posts</span>
        </a>
        <button class="tweet-button">New Post</button>
    </div>
   
</section>

{{end}}