{{define "profile-sidebar"}}
<div class="sidebar-right ">
    <h1 for="checkedBox" class="h1-title sub-main reverse">
        <div class="switch-icon rotate">
            <span class="material-symbols-outlined">
                autorenew
                </span>
        </div>
        <div class="switch-buttons">
            <span class="main">Profile</span>
            <span class="sub">Categories</span>
        </div>
    </h1>
    <div class="ProfileCard display">
        <div class="profileImage">
            <img src="https://api.dicebear.com/9.x/personas/svg?seed=Vivian" alt="">
        </div>
        <div class="profileName">
             MTAWIL 
        </div>
        <div class="profileStatics">
            <span class="analytics">analytics</span>
            <div class="posts">
                <span class="material-symbols-outlined">
                    article
                </span>
                <span class="postCounts">10 Articles</span>
            </div>
            <div class="comments">
                <span class="material-symbols-outlined">
                    comment
                    </span>
                <span class="postCounts">10 comments</span>
            </div>
        </div>
    </div>
    
    <!-- <h1 class="h1-title Categories">Categories</h1> -->
    <div class="Categories">

        <hr class="categories-line">
        <div class="trending-item">
            <div class="item-category">
                <p>Technology</p>
            </div>
            <span>10 Posts</span>
        </div>
        <hr>
        <div class="trending-item">
            <div class="item-category">
                <p>Business</p>
            </div>
            <span>10 Posts</span>
        </div>
        <hr>
        <div class="trending-item">
            <div class="item-category">
                <p>Economy</p>
            </div>
            <span>10 Posts</span>
        </div>
        <hr>
        <div class="trending-item">
            <div class="item-category">
                <p>Sport</p>
            </div>
            <span>10 Posts</span>
        </div>
        <hr>
        <div class="trending-item">
            <div class="item-category">
                <p>Videos</p>
            </div>
            <span>10 Videos</span>
        </div>
        <hr>
        <div class="trending-item">
            <div class="item-category">
                <p>General</p>
            </div>
            <span>10 Posts</span>
        </div>
    </div>
    
    <!-- <a href="" class="show-more">Show more</a> !-->
</div>

{{end}}