@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --WhiteBlue: #def0f4;
    --White: #ffffff;
    --WhiteB: #e0eced;
    --Greey: #efefef;
    --GreeyD: #919191;
    --GreeyDarked: hsla(0, 0%, 81%, 0.294);
    --shadow : 0px 10px 10px hsla(0, 0%, 40%, 0.30);
    --shadowLittle : 0px 10px 10px hsla(0, 0%, 40%, 0.20);
    --textshadow : 0px 5px 5px hsla(0, 0%, 40%, 0.30);
    --border : 2px solid  hsla(0, 0%, 54%, 0.318);
    --BlueGreenWhite: #37B7C3;
    --BlueGreen: #088395;
    --BlueDarker: #0a5c68;
    --DarkBlue: #22252f;
    --Black: #242424;
}

html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}


body {
    background-color: var(--Greey);
    width: 100vh;
    height: 100vh;
}
.postModal{
    position: fixed;
    display: flex;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: var(--Greey); /* Black w/ opacity */
}
.createPostContainer{
    background-color: var(--WhiteBlue);
    margin: auto;
    padding: 20px;
    width: 850px; 
    max-width: 850px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-shadow: var(--shadow);
}
.titleInput, .postInput{
    padding: 5px;
    width: 100%;
}
.titleInput input, .postInput textarea{
    border-radius: 10px;
    padding: 10px;
    color: var(--BlueGreen);
    font-size: 1.8rem;
    outline: none;
    border: none;
    width: 100%;
    resize: none;
}
.titleInput input::placeholder, .postInput textarea::placeholder{
    color: var(--BlueGreen);
}

.postInput {
    width: 100%;
    height: 100%;
}
.postInput textarea{
    color: var(--BlueGreenWhite);
    height: 400px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    resize: none;
    width: 100%;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 10px 0px;
}
.categories label{
    font-size: 16px;
    padding: 6px 10px;
    background-color: var(--BlueGreen);
    border-radius: 3px;
    color: var(--White);
    opacity: 0.5;
    cursor: pointer;
}
.categories input{
    display: none;
}
.categories input:checked + label {
    color: white;
    background-color: var(--BlueGreen);
    opacity: 1;

}
.categoryOptions{
    font-weight:  500;
    font-size: 16px;
}

.submitButton{
    padding: 10px;
    font-size: 20px;
    font-weight:lighter;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--BlueGreenWhite);
    color: var(--White);
    width: 100%;
}
.submitButton:hover{
    background-color: var(--BlueDarker);
    color: var(--WhiteB);
    transition: all 0.5s;
}
.DisableUserSelect{
    -webkit-user-select: none;
    -ms-user-select:none;
    user-select:none;
}