<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="notice">
        <h1>Welcome back</h1>
        <p>Log in or sign up to add commants and likes deslikes, and more.</p>
        <button><a href="login.html">Log in</a></button><br>
        <button><a href="register.html">Create new account</a></button>
    </div>
</body>
</html>