<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/style/google-icons/google-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/style/style.css">
    <link rel="stylesheet" href="/assets/style/post.css">
    <link rel="stylesheet" href="/assets/style/popstyle.css">
    <link rel="stylesheet" href="/assets/style/create-post.css">
    <link rel="stylesheet" href="/assets/style/footer.css">
    <!-- TODO WebsiteTitle EX : Sweeter - Register | Sweeter - Login ...etc-->
    <title>{{/*.Settings.Title*/}}</title>
    <link rel="icon" href="/assets/images/logo.svg" type="image/svg+xml">
</head>

<body>
    <!-- TODO Never injected to HTML if User not Logedin -->
    {{if .Profile.UserName}}
    {{template "google-icons/google-icons/create-post"}}
    {{end}}

    <div class="postContainer closed"></div>
    <div class="ParentContainer">
        {{template "header" .Profile}}
        <div class="nav-mobile">
            <a href="#categories"><div>Categories</div></a>
            <a href="#posts"><div>For you</div></a>
        </div>
        {{template "left-sidebar" .Profile}}
        {{template "profile-sidebar" .}}
        <div class="main-flex" id="posts">
            <div class="main-feed">
                <!-- Create New Post -->
                <div class="new-tweet">
                    <!-- TODO User image -->
                    <div class="ProfileImage tweet-img no-border"
                        style="background-image: url('https://api.multiavatar.com/{{if .Profile.UserName}}{{.Profile.UserName}}.svg{{else}}AN.svg{{end}}')">
                    </div>
                    <div class="new-post-header">
                        <textarea class="textarea" readonly type="text" placeholder="What's happening?"></textarea>
                    </div>
                </div>
                <!-- End Of Create New Post -->

            </div>
        </div>

    </div>
    <div id="popupContainer"></div>
    {{template "footer"}}
    {{if .Profile.UserName}}
    <script>
        function createPostListner() {
            const CreatePostArea = document.querySelectorAll(".new-post-header")
            console.log(CreatePostArea);


            CreatePostArea.forEach(elem => {
                elem.addEventListener('click', () => {

                    if (!document.getElementById("CreatePostScriptInjected")) {
                        const script = document.createElement("script")
                        script.id = "CreatePostScriptInjected"
                        script.src = "/assets/js/createPost.js"
                        document.body.appendChild(script)
                    }
                })
            })
        }
        createPostListner()
    </script>
    {{end}}
    {{ if not .Profile.UserName}}
    <script>
        const input_Post = document.querySelector('.new-post-header');
        input_Post.addEventListener('click', () => {
            popUp()
        });
    </script>
    {{end}}
    {{if .Profile.UserName}}
    <script src="/assets/js/profile.js"></script>
    {{end}}
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/likes.js"></script>
</body>

</html>