<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="navbar">
        <a class="link" href="login.html">Login</a>
        <a class="link" href="register.html">Register</a>
        <button class="icon-button"><i class="fas fa-user"></i></button>
    </div>
    <form class="login" method="POST" action="/templates/index.html">
        <h1>Login</h1>
        <label for="email">email</label>
        <input type="email"><br>
        <label for="password">password</label>
        <input type="password"><br>
        <button>Login</button><br>
        <p>Create new account: <a href="register.html">Register</a> </p>
    </form>
</body>
</html>