<div class="ProfileAndPost">
    <div class="postInfo">
        <div class="authorImage">
            <img src="/assets/images/PostImageTest.jpg" alt="">
        </div>
        <div class="authorInfo">
            <span class="Title">{{.Post.Title}}</span>
            <div class="authorContain">
                <span class="authorName">@{{.Post.UserName}}</span>
                <span class="postDate">{{.Post.CreatedAt}}</span>
            </div>
        </div>
    </div>
    <div class="postContent">
        <p>{{.Post.Content}}</p>
        <!-- TODO IMAGES -->
    </div>
    <div class="PostReactionData">
        <div class="LikeButtons">
            <div class="like DisableUserSelect">
                <span class="material-symbols-outlined" id="{{.Post.ID}}">thumb_up</span>
                10
            </div>
            <div class="dislike DisableUserSelect">
                <span class="material-symbols-outlined" id="{{.Post.ID}}">thumb_up</span>
                10
            </div>
        </div>
        <div class="CommentButtons">
            <div class="like DisableUserSelect">
                <span class="material-symbols-outlined" id="{{.Post.ID}}">comment</span>
                10
            </div>
        </div>
    </div>
</div>
<div class="postComments">
    <div class="postInfo center">
        <div class="authorInfo">
            <span class="Title">Comments</span>
            <span class="material-symbols-outlined close-post DisableUserSelect">
                close
            </span>
        </div>
    </div>
    <div class="Comments">
        {{ range .Comments }}
        <div class="commentCard"><!-- Working Part -->
            <div class="commentAuthorImage">
                <img src="/assets/images/PostImageTest.jpg" alt="">
                <!-- TODO ADD PROPER link: -->
            </div>

            <div class="commentAuthor">
                <div class="commentAuthorInfo">
                    <span class="commentAuthorName">
                        @{{.UserName}}
                        <span class="commentTime">
                            {{.CreatedAt}}
                        </span>
                    </span>
                    <div class="commentReaction DisableUserSelect">
                        <span class="like" id="{Here ID of Post}">
                            <span class="material-symbols-outlined">
                                thumb_up
                            </span>
                            <span>{{.LikeCount}}</span>
                        </span>
                        <span class="dislike" id="{Here ID of Post}">
                            <span class="material-symbols-outlined">thumb_down</span>
                            <span>{{.DislikeCount}}</span>
                        </span>
                    </div>
                </div>
                <div class="commentInfo">
                    <p class="commentData collapse">{{.Content}}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="commentContainer">
        <div class="commentInput ">
            <form action="/test" method="POST">
                <input type="text" name="commment" id="{POST ID}" placeholder="Comment....">
            </form>
        </div>
    </div>
</div>