<div class="ProfileAndPost">
    <div class="postInfo">
        <div class="authorImage">
            <img src="https://ui-avatars.com/api/?name={{.Post.UserName}}" alt="">
        </div>
        <div class="authorInfo">
            <span class="Title">{{.Post.Title}}</span>
            <div class="authorContain">
                <span class="authorName">@{{.Post.UserName}}</span>
                <span class="postDate">{{.Post.CreatedAt}}</span>
            </div>
        </div>
    </div>
    <div class="postContent">
        <pre>{{.Post.Content}}</pre>
        <!-- TODO IMAGES -->
    </div>
    <div class="PostReactionData">
        <div class="LikeButtons">
            <!-- TODO .POST.Liked Doesnt Work -->
            <div class='like DisableUserSelect {{if eq .Post.Liked "1"}}FILL{{end}}'>
                <span class="material-symbols-outlined" id="{{.Post.ID}}">thumb_up</span>
                {{.Post.LikeCount}}
            </div>
            <div class='dislike DisableUserSelect {{if eq .Post.Liked "1"}}FILL{{end}}'>
                <span class="material-symbols-outlined" id="{{.Post.ID}}">thumb_down</span>
                {{.Post.DislikeCount}}

            </div>
        </div>
        <div class="CommentButtons">
            <div class="like DisableUserSelect">
                <span class="material-symbols-outlined" id="{{.Post.ID}}">comment</span>
                {{.Post.CommentCount}}
            </div>
        </div>
    </div>
</div>
<div class="postComments">
    <div class="postInfo center">
        <div class="authorInfo">
            <span class="Title">Comments</span>
            <span class="material-symbols-outlined close-post DisableUserSelect">
                close
            </span>
        </div>
    </div>
    <div class="Comments">
        {{ range .Comments }}
        <div class="commentCard DisableUserSelect"><!-- Working Part -->
            <div class="commentAuthorImage">
                <img src="https://ui-avatars.com/api/?name={{.UserName}}" alt="">
                <!-- TODO ADD PROPER link: -->
            </div>

            <div class="commentAuthor">
                <div class="commentAuthorInfo">
                    <span class="commentAuthorName">
                        @{{.UserName}}
                        <span class="commentTime">
                            {{.CreatedAt}}
                        </span>
                    </span>
                    <div class="commentReaction DisableUserSelect">
                        <span class="like" id="{{.ID}}">
                            <span class="material-symbols-outlined">
                                thumb_up
                            </span>
                            <span>{{.LikeCount}}</span>
                        </span>
                        <span class="dislike" id="{{.ID}}">
                            <span class="material-symbols-outlined">thumb_down</span>
                            <span>{{.DislikeCount}}</span>
                        </span>
                    </div>
                </div>
                <div class="commentInfo">
                    <p class="commentData collapse">{{.Content}}</p>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="commentContainer">
        <div class="commentInput ">
            <input type="text" name="commment" id="{{.Post.ID}}" placeholder="Comment....">
        </div>
    </div>
</div>
